.main-top____ingredients {
  text-align: center;
  width: 100%;
  .title {
    font-family: 'Segoe', sans-serif;
    color: #060606;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.24px;
    line-height: 30px;
    text-align: center;
    margin-top: 6%;
    margin-left: 2%;
  }
  .sub_title {
    font-family: Lato, sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin-top: 1%;
  }
  &-pic {
    display: inline-block;
    width: 257px;
    height: 230px;
    text-align: center;
    &:last-of-type{
      display: block;
      margin: 0 auto;
    }

    p {
      display: inline-block;
      width: 100%;
      text-transform: uppercase;
      font-family: Lato, sans-serif;
      color: #000000;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      vertical-align: top;
      margin-top:-20px;

    }
    .left {
      text-align: right;
    }
    .center{
      text-align: center;

    }
    img {
      vertical-align: bottom;
    }
  }
}